body,
html {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: $regular_font;
    background-color: $theme_clr;
}

a {
    @include transition(linear 0.3s);
    outline: none;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.container {
    @media (min-width: 1200px) {
        max-width: 1280px;
    }
}

.btn {
    padding: 12px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: 8px !important;
    line-height: normal;
    font-weight: normal;
    min-height: 50px;
    font-family: $medium_font;
    display: inline-flex;
    align-items: center;

    > img {
        max-width: 24px;
        margin-right: 8px;
    }

    &.btn_primary {
        color: $concrete;
        background-color: $orange_roughy;
        border-color: $orange_roughy;
        // @include box-shadow(
        //     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        //     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        //     rgb(242, 176, 140) 0px 1px 2px 0px inset,
        //     rgba(0, 0, 0, 0.24) 0px 2px 3px 0px,
        //     rgba(0, 0, 0, 0.4) 0px -1px 2px 0px inset
        // );
        &:hover,
        &:focus,
        &:active {
            color: $concrete;
            background-color: $hot_cinnamon;
            border-color: $orange_roughy;
            // @include box-shadow(
            //     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            //     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            //     rgb(242, 176, 140) 0px 1px 2px 0px inset,
            //     rgba(0, 0, 0, 0.24) 0px 2px 3px 0px,
            //     rgba(0, 0, 0, 0.4) 0px -1px 2px 0px inset
            // );
        }
    }
    &.btn_primary_outline {
        color: $jaffa;
        border-color: $jaffa;
        background-color: $white;

        &:hover,
        &:focus,
        &:active {
            color: $jaffa;
            background-color: $white;
            border-color: $jaffa;
        }
    }
    &.btn_secondary {
        color: $concrete;
        background-color: $martinique;
        border-color: $martinique;
        // @include box-shadow(
        //     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        //     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        //     rgba(0, 0, 0, 0.16) 0px 2px 3px 0px,
        //     rgba(242, 242, 242, 0.16) 0px 1px 2px 0px inset,
        //     rgba(0, 0, 0, 0.2) 0px -1px 2px 0px inset
        // );
        &:hover,
        &:focus,
        &:active {
            color: $concrete;
            background-color: $pickled_bluewood;
            border-color: $martinique;
            // @include box-shadow(
            //     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            //     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
            //     rgba(0, 0, 0, 0.16) 0px 2px 3px 0px,
            //     rgba(242, 242, 242, 0.16) 0px 1px 2px 0px inset,
            //     rgba(0, 0, 0, 0.2) 0px -1px 2px 0px inset
            // );
        }
    }

    &.disabled,
    &:disabled {
        opacity: 1;
        cursor: not-allowed;
        pointer-events: inherit;
    }
    &:hover,
    &:focus {
        @include no-outline();
        @include box-shadow(none);
    }

    @include media-breakpoint-down(sm) {
        font-size: 13px;
        min-height: 45px;
        padding: 10px 12px;
    }
}

.normal_font {
    font-family: $regular_font;
}

.medium_font {
    font-family: $medium_font;
}

.bold_font {
    font-family: $bold_font;
}

.mix-blend-screen {
    mix-blend-mode: screen;
}

.underline {
    text-decoration: underline;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.form-control {
    font-size: 16px;
    color: $concrete;
    padding: 12px;
    height: 50px;
    background-color: $mirage;
    border-color: $ebony_clay;
    border-radius: 8px !important;

    &::-webkit-input-placeholder {
        color: $gray_chateau;
    }
    &::-moz-placeholder {
        color: $gray_chateau;
    }
    &::-moz-placeholder {
        color: $gray_chateau;
    }
    &::-ms-input-placeholder {
        color: $gray_chateau;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
    }
    &:focus {
        outline: 2px solid $orange_roughy;
        background-color: $mirage;
        color: $concrete;
        border-color: $ebony_clay;
    }
    &:focus,
    &:hover {
        // outline: none !important;
        @include box-shadow(none !important);
    }

    @include media-breakpoint-down(sm) {
        font-size: 13px;
    }
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 8px;
    .result-image {
        // width: 240px;
        // height: 240px;
        border-radius: 8px;
        @include transition(0.2s linear);
        &:hover {
            transform: translate(0, 0) rotate(0) skew(0) skewY(0) scaleX(0.97) scaleY(0.97);
            border: 2px solid $manatee;
        }
        > img {
            // width: 240px;
            // height: 240px;
            border-radius: 8px;
        }
    }
}

.result_preview_image {
    position: relative;
    z-index: 0;
    .close_img {
        position: absolute;
        right: 16px;
        top: 16px;
        z-index: 1;
        .btn {
            background-color: $ebonyclay;
            border-color: $ebonyclay;
            padding: 10px 13px;
            &:not(:last-child) {
                margin-right: 8px;
            }
            &:hover,
            &:focus,
            &:active {
                background-color: $ebonyclay;
                border-color: $ebonyclay;
            }
            > img {
                margin-right: 0;
            }
        }
    }
    > img {
        border-radius: 8px;
        height: 736px;
        width: 100%;
    }
    @include media-breakpoint-down(sm) {
        > img {
            height: auto;
        }
    }
}

@keyframes wiggle {
    0%,
    to {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
}
.animate-wiggle {
    animation: wiggle 1s ease-in-out infinite;
}
