.header {
    .navbar {
        padding: 18px 20px;
        border-bottom: 1px solid $ebony_clay;
        .navbar-brand {
            padding: 0;
            font-size: inherit;
            margin-right: 5px;
            > img {
                &:first-child {
                    max-width: 60px;
                }
                &:last-child {
                    max-width: 200px;
                    margin-left: 15px;
                }
            }
        }
        .navbar-nav {
            align-items: center;
            .nav-item {
                &:not(:last-child) {
                    margin-right: 24px;
                }
                .nav-link {
                    color: $athens_gray;
                    font-size: 16px;
                    padding: 0;
                    &.btn {
                        padding: 14px 15px;
                        color: $concrete;
                        &.btn_primary_outline {
                            color: $jaffa;
                        }
                    }
                }
            }
        }
        .navbar-toggler {
            border-color: $white;
            padding: 0;
            border: none;
            margin-right: 5px;
            margin-left: auto;
            .navbar-toggler-icon {
                background: url("#{$imageurl}/menu_bar.png") no-repeat center center;
                background-size: 100%;
                width: 23px;
                height: 20px;
            }

            @include media-breakpoint-down(sm) {
                margin-right: 15px;
            }
        }

        @include media-breakpoint-down(md) {
            padding: 15px 0;
            .navbar-brand {
                > img {
                    &:first-child {
                        max-width: 40px;
                    }
                    &:last-child {
                        max-width: 130px;
                        margin-left: 10px;
                    }
                }
            }
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-size: 14px;
                        &.btn {
                            padding: 10px 12px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .navbar-brand {
                > img {
                    &:first-child {
                        max-width: 30px;
                    }
                    &:last-child {
                        max-width: 110px;
                        margin-left: 5px;
                    }
                }
            }
            .navbar-nav {
                flex-direction: row;
                padding-top: 15px;
                justify-content: center;
                .nav-item {
                    .nav-link {
                        font-size: 13px;
                        &.btn {
                            padding: 10px 12px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(xs) {
            .navbar-brand {
                > img {
                    &:first-child {
                        max-width: 26px;
                    }
                    &:last-child {
                        max-width: 100px;
                    }
                }
            }
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-size: 12px;
                        &.btn {
                            padding: 8px 8px;
                        }
                    }
                }
            }
        }
    }
}
