.header {
    .navbar {
        padding: 18px 20px;
        border-bottom: 1px solid $ebony_clay;
        .navbar-brand {
            padding: 0;
            font-size: inherit;
            > img {
                &:first-child {
                    max-width: 60px;
                }
                &:last-child {
                    max-width: 200px;
                    margin-left: 15px;
                }
            }
        }
        .navbar-nav {
            align-items: center;
            .nav-item {
                &:not(:last-child) {
                    margin-right: 24px;
                }
                .nav-link {
                    color: $athens_gray;
                    font-size: 16px;
                    padding: 0;
                    &.btn {
                        padding: 14px 15px;
                        color: $concrete;
                        &.btn_primary_outline {
                            color: $jaffa;
                        }
                    }
                }
            }
        }
        .navbar-toggler{
            border-color: $white;
            padding: 0;
            border: none;
            .navbar-toggler-icon{
                background: url("#{$imageurl}/menu_bar.png") no-repeat center center;
                background-size: 100%;
                width: 30px;
                height: 28px;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 15px 0;
            .navbar-brand {
                > img {
                    &:first-child {
                        max-width: 40px;
                    }
                    &:last-child {
                        max-width: 140px;
                        margin-left: 10px;
                    }
                }
            }
            .navbar-nav {
                flex-direction: row;
                padding-top: 15px;
                .nav-item {
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                    .nav-link {
                        font-size: 14px;
                        &.btn {
                            padding: 14px 15px;
                        }
                    }
                }
            }
        }
    }
}
